Practical 1 :
Data Wrangling, I 
Perform the following operations using Python on any open source dataset (e.g., data.csv) 
1. Import all the required Python Libraries. 
2. Locate an open source data from the web (e.g., https://www.kaggle.com). Provide a clear  
            description of the data and its source (i.e., URL of the web site). 
3. Load the Dataset into pandas dataframe. 
4. Data Preprocessing: check for missing values in the data using pandas isnull(), describe() 
function to get some initial statistics. Provide variable descriptions. Types of variables etc. 
Check the dimensions of the data frame. 
5. Data Formatting and Data Normalization: Summarize the types of variables by checking 
the data types (i.e., character, numeric, integer, factor, and logical) of the variables in the 
data set. If variables are not in the correct data type, apply proper type conversions. 
6. Turn categorical variables into quantitative variables in Python. 
 
In addition to the codes and outputs, explain every operation that you do in the above steps and 
explain everything that you do to import/read/scrape the data set.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('covid_19.csv')
df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [3]:
df.isnull().sum()

Province/State    149189
Country/Region         0
Lat                 1546
Long                1546
Date                   0
Confirmed              0
Deaths                 0
Recovered              0
Active                 0
WHO Region          2319
dtype: int64

In [4]:
df['Province/State'].value_counts()

Province/State
Australian Capital Territory    773
Yunnan                          773
Mayotte                         773
Martinique                      773
Guadeloupe                      773
                               ...
Guangdong                       773
Gansu                           773
Fujian                          773
Chongqing                       773
Turks and Caicos Islands        773
Name: count, Length: 85, dtype: int64

In [5]:
df['Province/State'].isna().count()

214894

In [6]:
df['Province/State'].shape

(214894,)

In [7]:
df.describe()

,Lat,Long,Confirmed,Deaths,Recovered,Active
count,213348.000000,213348.000000,2.148940e+05,214894.000000,2.148940e+05,2.148940e+05
mean,20.528131,22.735337,4.578132e+05,9310.764693,1.079987e+05,3.405037e+05
std,25.899139,76.304185,2.708770e+06,47497.835275,8.470111e+05,2.516382e+06
min,-71.949900,-178.116500,0.000000e+00,0.000000,0.000000e+00,-1.638280e+05
25%,6.426991,-27.932425,2.530000e+02,2.000000,0.000000e+00,1.600000e+01
50%,22.233350,21.752000,5.223000e+03,71.000000,4.500000e+01,1.243000e+03
75%,41.166070,88.658375,9.892275e+04,1675.000000,5.115750e+03,2.644675e+04
max,71.706900,178.065000,7.925051e+07,958144.000000,3.097475e+07,7.829236e+07

In [8]:
df.shape

(214894, 10)

In [9]:
df['Province/State'].dtype

dtype('O')

In [10]:
type(df['Province/State'])

pandas.core.series.Series

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214894 entries, 0 to 214893
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Province/State  65705 non-null   object
 1   Country/Region  214894 non-null  object
 2   Lat             213348 non-null  float64
 3   Long            213348 non-null  float64
 4   Date            214894 non-null  object
 5   Confirmed       214894 non-null  int64
 6   Deaths          214894 non-null  int64
 7   Recovered       214894 non-null  int64
 8   Active          214894 non-null  int64
 9   WHO Region      212575 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 16.4+ MB

In [13]:
df['Country/Region']=df['Country/Region'].astype('string')
df['WHO Region']=df['WHO Region'].astype('string')

In [14]:
df['Date']=pd.to_datetime(df['Date'])

In [15]:
df.dtypes

Province/State            object
Country/Region    string[python]
Lat                      float64
Long                     float64
Date              datetime64[ns]
Confirmed                  int64
Deaths                     int64
Recovered                  int64
Active                     int64
WHO Region        string[python]
dtype: object

In [17]:
df['WHO Region'].unique()

<StringArray>
['Eastern Mediterranean',                'Europe',                'Africa',
                    <NA>,              'Americas',       'Western Pacific',
       'South-East Asia']
Length: 7, dtype: string

In [18]:
df['WHO Region'].value_counts()

WHO Region
Europe                   64159
Western Pacific          50245
Americas                 37104
Africa                   36331
Eastern Mediterranean    17006
South-East Asia           7730
Name: count, dtype: Int64

In [19]:
df['WHO Region'].dtype

string[python]

In [29]:
df['WHO Region'].isna().sum()

2319

In [31]:
df['WHO Region'].isna().value_counts()

WHO Region
False    212575
True       2319
Name: count, dtype: int64